@model ValueTuple<Car, User>


<div class="modal fade" id="">


    @if (Model.Equals(null))
    {
        <p>None found.</p>
    }
    else
    {
        <p>
            @Model.Item1.LicencePlate
            @Model.Item2.Email
        </p>
    }
</div>