@{
    ViewBag.Title = "AdminPanel";
}

<link href="~/lib/own.css" rel="stylesheet" />


<div class="flex-container">
    <a class="flex-item button" asp-controller="Administration" asp-action="ListRoles">
        Manage Roles
    </a>
    
    <a class="flex-item button" asp-controller="Administration" asp-action="ListUsers">
        List Users 
    </a>
</div>
