@model UnblockMe.Models.User


@{ 
    ViewBag.Title = "BlockUser";
}

<ul>
    <li>@Model.Id</li>
    <li>@Model.UserName</li>
    <li>
        @using (Html.BeginForm("BlockUser", "Administration", FormMethod.Post))
            {
                <input type="hidden" name="Id" value="@Model.Id"/>
                <button type="submit">Block for 1 day</button>
            }
    </li>
</ul>