@model UnblockMe.ViewModels.CreateRoleViewModel
@{
    ViewBag.Title = "Create New Role";
}

<h1>Create New Role</h1>

<form asp-action="CreateRole">

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div style="float:left; margin-right:20px;">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>