@model List<UnblockMe.ViewModels.ListUserViewModel>

@{
    ViewBag.Title = "ListUsers";
}
<style>
    .userCard{
        width: 275px;
        height: 500px;
        border: 5px;
        border-style: solid;
        border-color: black;
        border-radius: 15px;

    }
    .userCard:hover{
        transform: scale(1.1);
    }
    .ban-button {
    }
    .ban-button:hover {
        transform: scale(1.3)
    }
</style>
<link href="~/lib/own.css" rel="stylesheet" />

@if (Model.Any())
{
    <button class="btn btn-primary" >
        Download list
    </button>
    <div class="flex-container">

        @foreach (var item in Model)
        {
        <div class="flex-item" style="height:auto">
            <div class="userCard">
                <p>@item.Name</p>

                <a asp-controller="Administration" asp-action="BlockUser" asp-route-Id="@item.Id"
                   class="btn">
                    <i class="fa fa-ban ban-button" aria-hidden="true"></i>
                </a>
                <a asp-controller="Administration" asp-action="DownloadUserActivity" asp-route-userName="@item.Name"
                   class="btn">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        }
    </div>
}

else
{
    <h3>No users found.</h3>
}
