@page
@model UnblockMe.Areas.Identity.Pages.Account.Manage.PremiumModel
@{
    ViewData["Title"] = "Premium";
    ViewData["ActivePage"] = ManageNavPages.Premium;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Congratulation! Due to the fact that you are a alpha test you can upgrade your account to premium for free.</p>
        
        <p>
            <a id="upgrade" asp-page="UpgradeToPremium" class="btn btn-primary">Upgrade</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}