@page
@model UnblockMe.Areas.Identity.Pages.Account.Manage.RemovePremiumModel
    @{
    ViewData["Title"] = "RemovePremium";
    ViewData["ActivePage"] = ManageNavPages.RemovePremium;
    }

    <h4>@ViewData["Title"]</h4>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }