@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/action_page.php">
        <input type="text" id="searchCar" name="searchCar"><br><br>
        <input type="submit" value="Search">
    </form>
</div>
