@{
    ViewData["Title"] = "Home Page";
}

@model Car

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.BeginForm("searchCar", "Car", FormMethod.Post)
    {
        @Html.TextBoxFor(x => Model.LicencePlate)
        <input type="submit" value="Search">
    }
</div>
